[Desktop Entry]
Type=Application
Name=KodiRemote
GenericName=A remote for the Kodi Media Centre
#Icon=KodiRemote.png
#Categories=AudioVideo
Exec=KodiRemote
